src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/__init__.cpython-39.pyc
src/__pycache__/character_dict_builder.cpython-38.pyc
src/__pycache__/character_html_collector.cpython-38.pyc
src/__pycache__/character_service.cpython-38.pyc
src/__pycache__/columns.cpython-38.pyc
src/__pycache__/html_character_collector.cpython-38.pyc
src/__pycache__/html_character_collector.cpython-39.pyc
src/__pycache__/html_data_collector.cpython-38.pyc
tests/__pycache__/context.cpython-38.pyc
tests/__pycache__/context.cpython-39.pyc
html_test_specials.html
test_json.json
html_test.html
.vscode/settings.json
tests/__pycache__/character_dict_builder_test.cpython-38.pyc
tests/__pycache__/character_dict_builder_test.cpython-39.pyc
tests/__pycache__/html_character_collector_test.cpython-38.pyc
tests/__pycache__/html_character_collector_test.cpython-39.pyc
tests/__pycache__/html_data_collector_test.cpython-38.pyc
